* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  height: 100vh;
  display: grid;
  grid-template: 0.5fr 3fr 0.5fr / 1fr 2fr;
  grid-gap: 10px;
  grid-template-areas:
    "header header"
    "left contenedor"
    "footer footer";
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid red;
}

.header {
  grid-area: header;
}

.left {
  grid-area: left;
}

.contenedor {
  grid-area: contenedor;
}

.footer {
  grid-area: footer;
}
