* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.photo__element {
  position: relative;
  display: inline-block;
}

.imgWrap {
  display: inline-block;
}

.imgWrap img {
  width: 200px;
}

.numbers {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 2.5rem;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.numbers__likes,
.numbers__comments {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0.5rem;
  color: white;
}

.photo__element:hover .numbers {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}
